body {
}

.main-logo-container {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}

.main-logo {
  margin-top: 20px;
  margin-left: 34px;
  height: 30px;
}

.application-form {
  background-color: #eee;
  padding: 20px;
  border-radius: 6px;

  .application-form-description {
    margin-bottom: 10px;
  }
}

@import '../../app/about/about.scss';
@import '../../app/account/account.scss';
@import '../../app/home/home.scss';
@import '../../app/links/links.scss';
@import '../../components/navbar/navbar.scss';
