<div ng-controller="accountController">
  <div class="row">
    <div class="col-md-6">
      <div>Personal Info</div>
      <div>Name: {{userInfo.name}}</div>
      <div>Birthdate: {{userInfo.birthDate}}</div>
      <div>Gender: {{userInfo.gender}}</div>
    </div>

    <div class="col-md-6">
      <div>Allergies</div>
      <div>Delivery Addresses</div>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateAccountModal">
    Update Account
  </button>

  <div class="modal fade" id="updateAccountModal" tabindex="-1" role="dialog" aria-labelledby="updateAccount">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="updateAccountlLabel">Update Account Settings</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" ng-model="formData.userName">
            </div>
            <div class="form-group">
              <label for="birthDate">Birth Date</label>
              <input type="text" class="form-control" id="birth-date" placeholder="MM/DD/YYYY" ng-model="formData.userBirthDate">
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <label class="radio-inline"><input type="radio" value="M" ng-model="formData.gender">M</label>
              <label class="radio-inline"><input type="radio" value="F" ng-model="formData.gender">F</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveFormData()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
